<header id="header">
	<a href="{{ site.baseurl }}">
		<img src="{{ "img/logo.png" | prepend: site.baseurl }}" alt="Emerald Logo">
	  <h1>Blog de tareas de Cálculo</h1>
	</a>
        <h2>Equipo 6</h2>
	<h5>Arroyo Martinez Nancy Daniela~ danielaarroyo@ciencias.unam.mx</h5>
	<h5>Camas Ordoñes Sulema Iridian ~ sulema_iridian@ciencias.unam.mx</h5>
	<h5>Hernández Hernández Antonio ~ krieguer@ciencias.unam.mx</h5>
	<h5>Santiago Martínez Francisco José ~ fjsantim@ciencias.unam.mx</h5>
        <h5>Villasana Vilchis Laura Renata ~ launam77@ciencias.unam.mx</h5>
</header>
